* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    background-color: white;
}

section {
    padding-top: 60px;
}

.navbg {
    z-index: -1;
    height: 20px;
    background: #C9E7F2;
}

.navbar {
    background-color: white;
    z-index: 1000;
    top: 10px;
    width: 95%;
    color: black;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.navbar-nav li a {
    color: black;
    text-decoration: none;
    position: relative;
    padding: 5px;
    transition: color 0.3s ease-in-out;
    justify-content: space-between;
    margin-right: 5px;
}

.navbar-nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #3167ED;
    transition: width 1s ease-in-out;
}

.navbar-nav a:hover::before,
.navbar-nav a.active::before {
    width: 100%;
}

.navbar-nav a:hover {
    color: #3167ED;
}



main .main-content {
    background: linear-gradient(to bottom,
            #C9E7F2 0%,
            #C9E7F2 75%,
            white 100%);
    padding: 20px 0;
}

main .main-content h3 {
    margin-top: -20px;
    font-family: 'Kreon', sans-serif;
    font-size: 3rem;
    line-height: 1.2;
}

main .main-content h3 span {
    color: #3167ED;
}

main .main-content p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 20px;
}

main .main-content img {
    margin-top: -10px;
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hiw {
    font-family: 'Kreon';
    width: 98%;
    background: #C9E7F2;
    border-radius: 0 50px 50px 0;
    box-shadow: 5px 5px 5px rgb(181, 179, 179);
}

#hiw .holder {
    padding: 10vh 20px;
}


#hiw .step-number {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #3167ED;
    ;
}

#hiw .stepcontent h5 {
    font-weight: 900;
}

#hiw .stepcontent {
    width: 260px;
    font-weight: normal;
}

.steps-divider {
    margin-bottom: 120px;
}

#catalogue h4 {
    font-family: 'Kreon';
    font-size: 20px;
    margin-top: 100px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #0056b3;
}

.product-card {
    box-shadow: 0.5px 2px 0.5px 1px #bebebe;
    border-radius: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
    border: none;
    margin: 10px;
}

.product-card:hover {
    transform: translateY(-10px);
}

.image-container {
    position: relative;
    height: 150px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-body {
    text-align: center;
    padding: 15px;
}

.card-title {
    font-family: 'Inter', sans-serif;
    display: flex;
    margin-left: 15px;
    font-size: 15px;
    font-weight: lighter;
}

.card-text {
    font-size: 0.9rem;
    color: #6c757d;
    margin: 5px 0;
}

.btn {
    font-size: 0.85rem;
    padding: 5px 10px;
}

.cardbtm {
    justify-content: space-between;
}

.btnbtm {
    border-radius: 10px;
    width: 140px;
    margin: 20px;
    text-align: center;
}

@media (max-width: 767px) {
    #catalogue h4 {
        font-size: 18px;
        margin-left: 10px;
        text-align: center;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 30px;
        height: 30px;
    }

    .product-card {
        width: 100%;
        margin: 5px 0;
    }

    .card-body {
        padding: 10px;
    }

    .card-title {
        font-size: 14px;
        margin-left: 0;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.75rem;
        padding: 4px 8px;
    }

    .btnbtm {
        width: 120px;
        margin: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #catalogue h4 {
        font-size: 18px;
        margin-left: 20px;
        text-align: left;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 35px;
        height: 35px;
    }

    .product-card {
        width: 100%;
        height: 0;
        padding-top: 210px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

    .product-card .image-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .product-card .card-img-top {
        margin: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        z-index: -1;
    }

    .product-card .card-title {
        position: absolute;
        top: 12%;
        left: 10%;
        right: 10%;
        font-size: 10px;
        font-weight: bold;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 2;
    }

    .card-body {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        z-index: 1;
    }

    .card-text {
        margin-left: 10px;
        font-size: 12px;
        color: #6c757d;
    }

    .rent-btn {
        font-size: 10px;
        width: 50%;
        height: 30px;
    }

    .btnbtm {
        width: 130px;
        margin-top: 10px;
        text-align: center;
    }
}

.titlecontacts h1 {
    font-family: 'Kreon';
    color: #000;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titlecontacts h1 span {
    color: #3167ED;
}


@media (max-width: 576px) {
    .titlecontacts h1 {
        text-align: center;
        font-size: 40px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .titlecontacts h1 {
        font-size: 36px;
    }
}

@media (min-width: 992px) {
    .titlecontacts h1 {
        font-size: 48px;
    }
}


#contacts {
    font-family: 'Kreon';
    background: #C9E7F2;
}

#contacts .img-fluid {
    min-width: 100%;
    transform: scaleX(-1);
    height: auto;
    object-fit: contain;
    padding: 10px;
}

#contacts .intro {
    justify-content: center;
    font-size: 20px;
    word-spacing: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.contactform {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'Kreon';
    position: relative;
    border-radius: 10px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) -14px 10px 4px 0px;
}

.descr {
    font-size: 30px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    margin: 20px;
}

.descr span {
    color: #3167ED;
}

.form {
    display: flex;
    flex-direction: column;
}

.input,
textarea {
    margin: 1em 0;
    width: 100%;
}

.input input,
textarea {
    font-size: 12px;
    padding: 0.7em;
    outline: none;
    color: #000;
    border: none;
    border-bottom: 1.5px solid #000;
    background: transparent;
    border-radius: none;
    width: 100%;
    resize: none;
}

.input label {
    font-size: 15px;
    position: absolute;
    left: 60px;
    color: #3167ED;
    pointer-events: none;
    transition: all 0.5s ease;
}

.input :is(input:focus, input:valid)~label {
    transform: translateY(-70%) scale(.9);
    margin: 0em;
    padding: 0.4em;
    background: transparent;
}

.input textarea:focus~label,
.input textarea:valid~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    padding: 0.4em;
    background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(37, 37, 211);
}

.form button {
    color: white;
    font-size: 15px;
    padding: 10px;
    width: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form button:before {
    content: "";
    position: relative;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3167ED;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.form button:hover:before {
    opacity: 0.2;
}

.form button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.socmeds {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin: auto;
}

.socmeds h5 {
    margin-top: 70px;
    margin-left: 10px;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
}

.socmeds .icon img {
    margin-bottom: 40px;
    margin-left: 5px;
    height: 40px;
    max-width: 100%;
    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}


@media (max-width: 576px) {
    .navbar-nav a:hover::before{
    content: '';
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    width: 20%; 
    height: 2px; 
    background-color: currentColor; 
    transition: width 0.3s ease-in-out;
}

.navbar-nav a:hover::after {
   display: none; 
}

    .intro p {
        word-spacing: normal;
        font-size: 15px;
    }

    .contactform {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .descr {
        font-size: 24px;
        text-align: center;
    }

    .input input,
    .input textarea {
        font-size: 14px;
        padding: 0.8em;
    }
    .input :is(input:focus, input:valid)~label{
        float: left;
    }
    .input label{
        left: 20px;
    }
    .socmeds h5 {
        font-size: 18px;
    }

    .socmeds .icon img {
        height: 30px;
        margin: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .intro p {
        word-spacing: normal;
    }

    .contactform {
        width: 90%;
        height: auto;
        padding: 30px;
    }

    .descr {
        font-size: 28px;
    }

    .input input,
    .input textarea {
        font-size: 14px;
        padding: 0.8em;
    }

    .socmeds h5 {
        font-size: 20px;
    }

    .socmeds .icon img {
        height: 35px;
        margin: 5px;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .contactform {
        width: 60%;
        height: 470px;
        margin-top: 50px;
    }

    .socmeds h5 {
        font-size: 22px;
    }

    .socmeds .icon img {
        height: 40px;

    }
}


.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    border: none;
}

.social-icon {
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.footer {
    font-family: 'Kreon';
    background: #C9E7F2;
    padding: 5rem 0;
}

.footer .row {
    margin-left: 0;
    margin-right: 0;
}

.footer .col-12,
.footer .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.footer h5 {
    margin-bottom: 1rem;
    font-weight: bold;
}

.footer .list-unstyled {
    padding: 0;
    margin: 0;
}

.footer .list-unstyled li {
    margin-bottom: 0.5rem;

    i {
        color: #3167ED;
    }
}

.footer .social-icon {
    transition: transform 0.3s ease;
    width: 30px;
}

.footer .social-icon:hover {
    transform: scale(1.1);
}

.footer .slogan {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .footer .col-md-3 {
        margin-bottom: 2rem;
    }

    .footer .col-md-3 ul {
        margin-left: 0;
    }

    .footer .col-md-3 h5 {
        font-size: 1.25rem;
    }

    .list-unstyled li {
        display: flexbox;
        flex-direction: column;

        i {
            font-size: 11px;
        }
    }

    .info a {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .footer .col-12 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .footer .col-12 .icon img {
        width: 30px;
    }

    .footer .col-12 .slogan {
        font-size: 0.875rem;
    }

    .footer .social-icon {
        margin: 0 10px;
    }


    .footer h5 {
        font-size: 1rem;
    }

    .footer .row {
        text-align: center;
    }
}

.divider-line {
    border-top: 2px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
}